header
    .container
        .header
            .header__list
                ul
                    li
                        a(href="#") Home
                    li
                        a(href="#") Add
                    li
                        a(href="#") View
