header
    .container
        .header
            .header__list
                ul
                    li
                        a(href="login.html") LogIn/LogOut
                    li
                        a(href="add.html") Add
                    li
                        a(href="index.html") View
