section
    .log-page
        .sircle
            .sircle__content
                .arrow
                    img(src="img/arrow.png" alt="arrow")
                .login-form
                    form
                        .form-fields
                            input(type='text' placeholder="LOGIN")
                            input(type='text' placeholder="PASSWORD")
                            button(type='submit') LOGIN
