main
    .container
        .view_title.title
            h1 Тут ви можете переглянути кримінальні справи
        .filters
            .filters__title.title
                //h2 Виберіть критерії пошуку кримінальної справи:
            .filters__buttons
                .filter
                    .filter__title
                        h3 Особа, що прийняла рішення:
                    .filter__select
                        select(data-live-search="true" data-width="180px").selectpicker
                            option Mayer
                            option Billy
                            option Stark
                            option Cap
                            option Tanos
                            option Rabbit
                            option Pussy
                .filter
                    .filter__title
                        h3 К-ть звинувачених:
                    .filter__select
                        select(data-live-search="true" data-width="180px").selectpicker
                            option Mayer
                            option Billy
                            option Stark
                            option Cap
                            option Tanos
                            option Rabbit
                            option Pussy
                .filter
                    .filter__title
                        h3 Служба що веде справу:
                    .filter__select
                        select(data-live-search="true" data-width="180px").selectpicker
                            option Mayer
                            option Billy
                            option Stark
                            option Cap
                            option Tanos
                            option Rabbit
                            option Pussy
                .filter
                    .filter__title
                        h3 ПІП слідчого:
                    .filter__select
                        select(data-live-search="true" data-width="180px").selectpicker
                            option Mayer
                            option Billy
                            option Stark
                            option Cap
                            option Tanos
                            option Rabbit
                            option Pussy
                .filter
                    .filter__title
                        h3 Посада слідчого:
                    .filter__select
                        select(data-width="180px").selectpicker
                            option Старший слідчий
                            option Молодший слідчий
                            option Заступник начальника управління
                            option Начальник Управління
                .filter
                    .filter__title
                        h3 Звання слідчого:
                    .filter__select
                        select(data-width="180px").selectpicker
                            option Лейтинант
                            option Старший лейтинант
                            option Капітан
                            option Майор
                            option Підполковник
        .case-prev
            .case-prev__title
                h2 Кримінальні справи
            .case-prev__table
                table.table.table-bordered
                    thead
                        tr.table-head
                            th Слідчий
                            th Дата початку
                            th Дата кінця
                            th Кваліфікація
                            th К-ть обвинувачених
                            th К-ть епізодів
                            th Прийняте рішення
                            th
                    tbody
                        tr
                            td Квітка Нестор Петрович
                            td 02.01.2018
                            td 11.05.2018
                            td Пограбування
                            td 1
                            td 1
                            td Принудити до громадських робіт по прибиранню території окупованої циганським табором, що знаходиться біля супермаркету Метро за адресою вул. Городоцька 210. До виконання рішення приступити негайно.
                            td
                                button.btn.glyphicon.glyphicon-pencil.btn-success.edit
                                button.btn.glyphicon.glyphicon-trash.btn-danger
                        tr
                            td Ільченко Роман Степанович
                            td 20.02.2018
                            td 30.05.2018
                            td Побутовий дебож
                            td 2
                            td 1
                            td 1
                            td
                                button.btn.glyphicon.glyphicon-pencil.btn-success.edit
                                button.btn.glyphicon.glyphicon-trash.btn-danger
                        tr
                            td Петренко Іван Романович
                            td 20.02.2018
                            td 30.05.2018
                            td Побутовий дебож
                            td 2
                            td 1
                            td 1
                            td
                                button.btn.glyphicon.glyphicon-pencil.btn-success.edit
                                button.btn.glyphicon.glyphicon-trash.btn-danger


