main
    .container
        .view_title.title
            h1 Тут ви можете переглянути кримінальні справи
        .filters
            .filters__title.title
                h2 Виберіть критерії пошуку кримінальної справи:
            .filters__buttons
                .filter
                    .filter__title
                        h3 Особа, що прийняла рішення:
                    .filter__select
                        select(data-live-search="true" data-width="180px").selectpicker
                            option Mayer
                            option Billy
                            option Stark
                            option Cap
                            option Tanos
                            option Rabbit
                            option Pussy
                .filter
                    .filter__title
                        h3 К-ть звинувачених:
                    .filter__select
                        select(data-live-search="true" data-width="180px").selectpicker
                            option Mayer
                            option Billy
                            option Stark
                            option Cap
                            option Tanos
                            option Rabbit
                            option Pussy
                .filter
                    .filter__title
                        h3 Служба що веде справу:
                    .filter__select
                        select(data-live-search="true" data-width="180px").selectpicker
                            option Mayer
                            option Billy
                            option Stark
                            option Cap
                            option Tanos
                            option Rabbit
                            option Pussy
                .filter
                    .filter__title
                        h3 ПІП слідчого:
                    .filter__select
                        select(data-live-search="true" data-width="180px").selectpicker
                            option Mayer
                            option Billy
                            option Stark
                            option Cap
                            option Tanos
                            option Rabbit
                            option Pussy
                .filter
                    .filter__title
                        h3 Посада слідчого:
                    .filter__select
                        select(data-width="180px").selectpicker
                            option Старший слідчий
                            option Молодший слідчий
                            option Заступник начальника управління
                            option Начальник Управління
                .filter
                    .filter__title
                        h3 Звання слідчого:
                    .filter__select
                        select(data-width="180px").selectpicker
                            option Лейтинант
                            option Старший лейтинант
                            option Капітан
                            option Майор
                            option Підполковник
